
body {
  margin: 0;
}

#mainContain {
  position: sticky;
  top: 0px;
  margin: 0;
}

.swoosh {
  max-width: 70px; 
  max-height: 70px;
  padding: 10px;
}

.flag {
  max-width: 50px; 
  max-height: 30px;
  padding: 10px;
  padding-right: 15px;
}

.cart {
  max-width: 18px; 
  max-height: 50px;
  padding: 10px;
  transform: rotateY(180deg);
  filter: grayscale(100);
}

.firstBar {
  height: 39px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  text-align: center;
}

.brand {
  border-right: 1px solid #e4e4e4;
  padding: 10px;
  color: #8d8d8d;
}

.brand:hover {
  color: black;
}

.brand1 {
  border-right: 1px solid #e4e4e4;
  padding: 10px;
  color: #8d8d8d;
  margin-right: auto;
}

.brand1:hover {
  color: black;
}

.userLink {
  padding: 10px;
  color: #8d8d8d;
}

.userLink:hover {
  padding-bottom: 8.5px;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid black;
  color: black;
}

.secondBar {
  height: 71px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  text-align: center;
}

.nikeLogo {
  padding: 10px;
}

.storeLink0 {
  margin-left: auto;
  padding: 10px;
}

.storeLink1, .storeLink2, .storeLink3 {
  padding: 10px;
}

.storeLink4 {
  margin-right: auto;
  padding: 10px;
}

.storeLink0:hover, .storeLink1:hover, .storeLink2:hover, .storeLink3:hover, .storeLink4:hover {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid black;
}

#search input[type="text"] {
  background-image: url("http://ec2-18-221-123-158.us-east-2.compute.amazonaws.com/fc51889042f9381f8230686580d53d95.png");
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 17px 17px;
  border: 1px solid #cbcbcb;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #777;
  height: 23px;
  width: 150px;
  padding: 8px 0px 8px 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
  float: right;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

#search input[type="text"]:focus {
  width: 194px;
}

.searchDiv {
  border: 1px solid black;
  width: 72px;
}

.filler {
  padding-right: 18px;
  border: 1px solid black;
}