
body {
  margin: 0 !important;
}

#mainContain {
  position: sticky !important;
  top: 0px !important;
  margin: 0 !important;
}

.swoosh {
  max-width: 70px !important; 
  max-height: 70px !important;
  padding: 10px !important;
}

.flag {
  max-width: 50px !important; 
  max-height: 30px !important;
  padding: 10px !important;
  padding-right: 15px !important;
}

.cart {
  max-width: 18px !important; 
  max-height: 50px !important;
  padding: 10px !important;
  transform: rotateY(180deg) !important;
  filter: grayscale(100) !important;
}

.firstBar {
  height: 39px !important;
  border-bottom: 1px solid #e4e4e4 !important;
  display: flex !important;
  flex-direction: row !important;
  background-color: white !important;
  align-items: center !important;
  text-align: center !important;
}

.brand {
  border-right: 1px solid #e4e4e4 !important;
  padding: 10px !important;
  color: #8d8d8d !important;
}

.brand:hover {
  color: black !important;
}

.brand1 {
  border-right: 1px solid #e4e4e4 !important;
  padding: 10px !important;
  color: #8d8d8d !important;
  margin-right: auto !important;
}

.brand1:hover {
  color: black !important;
}

.userLink {
  padding: 10px !important;
  color: #8d8d8d !important;
}

.userLink:hover {
  padding-bottom: 8.5px !important;
  border-top: 1.5px solid white !important;
  border-bottom: 1.5px solid black !important;
  color: black !important;
}

.secondBar {
  height: 71px !important;
  border-bottom: 1px solid #e4e4e4 !important;
  display: flex !important;
  flex-direction: row !important;
  background-color: white !important;
  align-items: center !important;
  text-align: center !important;
}

.nikeLogo {
  padding: 10px !important;
}

.storeLink0 {
  margin-left: auto !important;
  padding: 10px !important;
}

.storeLink1, .storeLink2, .storeLink3 {
  padding: 10px !important;
}

.storeLink4 {
  margin-right: auto !important;
  padding: 10px !important;
}

.storeLink0:hover, .storeLink1:hover, .storeLink2:hover, .storeLink3:hover, .storeLink4:hover {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-top: 1.5px solid white !important;
  border-bottom: 1.5px solid black !important;
}

#search input[type="text"] {
  background-image: url("http://ec2-18-221-123-158.us-east-2.compute.amazonaws.com/fc51889042f9381f8230686580d53d95.png") !important;
  background-repeat: no-repeat !important;
  background-position: 15px !important;
  background-size: 17px 17px !important;
  border: 1px solid #cbcbcb !important;
  font: bold 12px Arial,Helvetica,Sans-serif !important;
  color: #777 !important;
  height: 23px !important;
  width: 150px !important;
  padding: 8px 0px 8px 50px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
  float: right !important;
  -webkit-transition: all 0.25s ease 0s !important;
  -moz-transition: all 0.25s ease 0s !important;
  -o-transition: all 0.25s ease 0s !important;
  transition: all 0.25s ease 0s !important;
}

#search input[type="text"]:focus {
  width: 194px !important;
}

.searchDiv {
  border: 1px solid black !important;
  width: 72px !important;
}

.filler {
  padding-right: 18px !important;
  border: 1px solid black !important;
}